body , html{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images3.alphacoders.com/108/1081008.png');
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(50px);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:cursive;
  transition: ease-in 0.1s;
}
.title{
  color: rgb(47, 49, 50);
}
h2{
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px #000000;
}
.App{
  width: 500px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.274);
  border: 2px solid rgb(2, 45, 32);
}
.todo-input{
  width: 100%;
  margin: 20px 0;
}
.todo-input input{
  width: 75%;
  height: 50px;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  
}
.todo-input button{
  width: 15%;
  height: 50px;
  font-size: 1.2em;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: rgb(9, 106, 19);
}
.todo-items{
  overflow-y: scroll;
  width: 90%;

}

.todo-item{
  width: 100%;
  margin: 5px 0;
  background-color: rgb(206, 202, 202);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  animation: task both 0.9s;
}
@keyframes task {
  from{
    transform: translateY(-10px);
  }
  to{
    transform: translateY(0);
  }
  
}

.todo-item input[type="text"]{
  width: 75%;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;


}
.todo-item input[type="checkbox"]{
  width: 5%;
  height: 20px;
  background-color: transparent;


}
.todo-item button{
  width: 5%;
  height: 50px;
  font-size: 1.3rem;
  border-radius: 10px;
  right: 20px;
  border: none;
  background-color: transparent;

}
.todo-item button:active{
  transform: scale(0.9);
}
.input-active{
  background-color: rgb(136, 138, 141);
  
}
.todoDel{
  text-decoration:line-through;
}
::-webkit-scrollbar {
  display: none;
}
@media (max-width:768px) {
  .App{
    width: 100vw;
    border: none;
  }
  
}